<!DOCTYPE html>
<html>
  <head>
    <title>MyFirstRailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= image_tag "image.jpg", class: "my-img"%>
  	<div  class="navbar">
    <%= page_title %>
    <br>
    <%= test_page %> 
  	<% if @current_user.present? %>
  	<h3> <%= @current_user.first_name %> is logged in </h3>
  	<td><%= link_to 'Log out', logout_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %></td>
  	<% end %>
  	</div>
  	<p id="notice"><%= notice %></p>

    <%= yield %>
  </body>
</html>
